<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aduaneiro.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <title>GT Advocacia e Consultoria</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary shadow"
      style="padding: 15px"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">GT Advocacia & Consultoria</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="quem-somos"
                >Quem Somos</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Áreas de atuação
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="aduaneiro"
                    >Direito Aduaneiro</a
                  >
                </li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li><a class="dropdown-item" href="civil">Direito Cívil</a></li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li>
                  <a class="dropdown-item" href="trabalhista"
                    >Direito do Trabalho</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Consultoria
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="carbono">Crédito de Carbono</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato" aria-disabled="true"
                >Contato</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR ENDS --------------------------------------------------- -->
    <div class="banner-aduaneiro">
      <img src="images/aduaneiro.jpg" alt="aduaneiro" />
      <h1 class="fade-in">Direito Aduaneiro</h1>
    </div>
    <div class="container">
      <div class="section1 fade-in">
        <div class="aduaneiro-texto">
          <!-- <h1>Saiba mais</h1> -->
          <p>
            A história vem nos mostrando uma transição entre várias formas de
            Governo e Estado de Direito e que estas mudanças, juntamente com a
            evolução do sistema tecnológico, estão permitindo um encontro de
            culturas e experiências comerciais que vêm interferindo não só na
            vida do Estado Governo, como na vida dos Governados-Cidadãos. Isto
            vem nos conduzindo para uma mudança de mercado e comportamental de
            tal magnitude que já afeta os Sistemas Econômicos e Financeiros dos
            países. Pensando nisso é que a Gnata Telles Advocacia e Consultoria
            vem se especializando, pois vê um forte campo de trabalho e estudos
            envolvendo importação e exportação
          </p>
        </div>
        <div class="imagem-aduaneiro2">
          <img src="images/aduaneiro2.jpg" alt="aduaneiro" />
        </div>
      </div>
      <div class="atuacao card-body shadow">
        <h1>ATUAÇÃO</h1>
        <ul class="two-columns">
          <li>Ação Cautelar, Embargos e Exceções.</li>
          <li>Mandado de Segurança.</li>
          <li>Ação Anulatória e Declaratória.</li>
          <li>Repetição do Indébito e Consignação.</li>
          <li>Sobre-estadia (Demurrage) e Armazenagem.</li>
          <li>Perdimento e Contratos.</li>
          <!-- <li>Ação declaratória em Matéria Aduaneira</li>
          <li>Ação de repetição do Indébito Aduaneira</li>
          <li>Ação de consignação em pagamento</li>
          <li>Sobre-estadia (Demurrage) AFRMM, Serviços portuários (THC)</li>
          <li>Armazenagem</li>
          <li>Perdimentos e Contratos</li> -->
        </ul>
      </div>
    </div>

    <footer class="footer bg-dark text-light">
      <div class="container">
        <div class="row footer">
          <div class="col-md-6 footer-contact">
            <address>
              Av. Silva Jardim 1053<br />
              Curitiba, Paraná <br />
              Telefone: (41) 3018-3313
            </address>
          </div>
          <div class="col-md-6 links-container">
            <div>
              <h5>Links</h5>
              <ul class="list-unstyled footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="quem-somos">Quem Somos</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="contato">Contato</a></li>
              </ul>
            </div>
            <div>
              <h5>Áreas de Atuação</h5>
              <ul class="list-unstyled footer-links">
                <li><a href="aduaneiro">Direito Aduaneiro</a></li>
                <li><a href="civil">Direito Civil</a></li>
                <li><a href="trabalhista">Direito do Trabalho</a></li>
              </ul>
            </div>
            <div>
              <h5>Consultoria</h5>
              <ul class="list-unstyled footer-links">
                <li><a href="carbono">Crédito de Carbono</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="text-center">
          &copy; 2023 GT Advocacia e Consultoria. All rights reserved.
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
