<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GT Advocacia e Consultoria</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg shadow"
      style="background-color: whitesmoke"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">GT Advocacia & Consultoria</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="quem-somos"
                >Quem Somos</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Áreas de atuação
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="aduaneiro"
                    >Direito Aduaneiro</a
                  >
                </li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li><a class="dropdown-item" href="civil">Direito Cívil</a></li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li>
                  <a class="dropdown-item" href="trabalhista"
                    >Direito do Trabalho</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Consultoria
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="carbono">Crédito de Carbono</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="articles">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contato" aria-disabled="true"
                >Contato</a
              >
            </li>
          </ul>
          <div class="login">
            <% if (user) { %>
            <a href="profile">PROFILE</a>
            <% } else { %>
            <a href="login">LOGIN</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>

    <!-- NAVBAR END --------------------------------------------------- -->
    <!-- CAROUSEL STARTS ---------------------------------------------- -->
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <video
            src="videos/buildings-compressed.mp4"
            class="d-block w-100"
            alt="Video"
            autoplay
            loop
            muted
            id="building-video"
            loading="lazy"
          ></video>
          <div class="carousel-title building-banner fade-in">
            <p>
              "Acreditamos que a tradição é aliada da inovação e o mundo
              jurídico é parceiro dos negócios comerciais"
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <video
            src="videos/third-slide.mp4"
            class="d-block w-100"
            alt="Video"
            autoplay
            loop
            muted
            id="building-video"
            loading="lazy"
          ></video>
          <div class="carousel-title third-banner fade-in">
            <p>
              As relações entre pessoas, empresas e o Estado, estão cada vez
              mais interconectadas, exigindo do profissional um conhecimento
              amplo e que oportunize minimizar riscos e ampliar resultados.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <video
            src="videos/carbon-compressed.mp4"
            class="d-block w-100"
            alt="Video"
            autoplay
            loop
            muted
            id="building-video"
            loading="lazy"
          ></video>
          <div class="carousel-title carbon-banner fade-in">
            <h1>Crédito de Carbono</h1>
            <p>
              Práticas voltadas para o desenvolvimento sustentável (ambientais,
              sociais e de governança – ESG e ODS), <br />
              são o norte para implementação de políticas que ajudam a enfrentar
              os novos desafios.
            </p>
            <a href="carbono">Saiba mais </a>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- CAROUSEL ENDS ---------------------------------------------- -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll(".nav-link");
        const contentContainer = document.getElementById("content-container");

        navLinks.forEach((link) => {
          link.addEventListener("click", (e) => {
            e.preventDefault();
            const pageURL = e.target.getAttribute("href");

            // Fetch and load the content from the clicked page
            fetch(pageURL)
              .then((response) => response.text())
              .then((data) => {
                contentContainer.innerHTML = data;
              });
          });
        });
      });
    </script> -->
  </body>
</html>
