@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

.banner-aduaneiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
}

.banner-aduaneiro img {
  max-width: 100%;
  height: auto;
}

.banner-aduaneiro h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
  font-size: 5rem;
}

.navbar {
  z-index: 1;
  font-family: "Raleway", sans-serif;
}

.saiba-mais {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 15px;
}

.saiba-mais-texto {
  width: 700px;
}
.saiba-mais-texto h1 {
  font-weight: 500;
  text-align: center;
}

.saiba-mais-texto p {
  text-align: justify;
}

.two-columns li {
  font-size: 23px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  list-style-type: square;
}

.atuacao {
  background-color: #ebebeb95;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.atuacao h1 {
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.two-columns {
  column-count: 2; /* Set the number of columns */
  column-gap: 20px; /* Set the gap between columns (adjust as needed) */
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}
