@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

.navbar {
  font-family: "Raleway", sans-serif;
}

.lottie-animation {
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .footer {
    font-size: 0.75rem;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .lottie-animation {
    width: 300px;
    height: 300px;
  }
}
