@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Raleway", sans-serif;
}

.carousel-inner {
  height: 92.2vh;
}

.carousel-title {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: start;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.carousel-title h1 {
  font-size: 5rem;
  font-weight: 300;
}

.carousel-title p {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 300;
}

.carousel-title a {
  text-decoration: underline;
  color: #fff;
  font-size: 1.2rem;
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .carousel-inner {
    height: 100vh;
  }

  .navbar {
    font-size: 16px; /* Adjust the font size as needed for mobile */
  }

  .links-container {
    flex-direction: column;
    gap: 1rem; /* Adjust the gap as needed for mobile */
  }

  .links-container li {
    text-align: center;
  }

  #carousel-pic {
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }

  .container {
    padding: 0;
  }

  .carousel-title {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
