@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.navbar {
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

.login a {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
}

.login a:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.carousel-inner {
  height: 92.2vh;
}

.carousel-title {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.carousel-title a {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  padding: 8px 4px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}

.carousel-title a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 7px;
  right: -20px;
  transition: 0.5s;
}

.carousel-title a:hover {
  padding-right: 24px;
  padding-left: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

.carousel-title a:hover:after {
  opacity: 1;
  right: 10px;
}

.building-banner {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.building-banner p {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
}

.carbon-banner {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.carbon-banner h1 {
  font-size: 4rem;
  font-weight: 300;
}

.third-banner {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.third-banner p {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
}

/* .carbon-banner a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
} */

#building-video {
  position: relative;
  bottom: 4rem;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

.fade-in {
  animation: fadeIn 2.5s ease-in-out;
  /* opacity: 0; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .carousel-inner {
    height: 100vh;
  }

  .navbar {
    font-size: 16px; /* Adjust the font size as needed for mobile */
  }

  .building-banner p {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 300;
    text-align: center;
  }

  #building-video {
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }

  .container {
    padding: 0;
  }

  .carousel-title {
    top: 25%;
    left: 50%;
    max-width: 300px;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 0;
  }

  .carbon-banner h1 {
    font-size: 2rem;
    font-weight: 300;
  }

  .carbon-banner p {
    font-size: 0.75rem;
  }

  .carbon-banner a {
    font-size: 0.75rem;
  }

  .third-banner p {
    font-size: 0.75rem;
    margin: 10px 0;
    font-weight: 300;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .carousel-inner {
    height: 100vh;
  }
}
