@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

.navbar {
  font-family: "Raleway", sans-serif;
}

.card {
  border: none;
  max-width: 570px;
}

.card-body {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  margin: 2rem;
  gap: 3rem;
}

.section1 img {
  max-width: 680px;
  height: 100vh;
}

.quem-somos-texto p {
  max-width: 500px;
}

.quem-somos-texto h1 {
  position: relative;
  bottom: 3rem;
}

.section2 {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
  bottom: 10rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

#wave-svg {
  position: relative;
  bottom: 12rem;
  z-index: -1;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .section1 {
    flex-direction: column;
    text-align: justify;
  }

  .section1 img {
    max-width: 100%;
    height: auto;
  }
  .section1 h1 {
    position: relative;
    top: 1px;
  }

  .section1,
  .section2 {
    position: static;
    bottom: 0;
  }

  #wave-svg {
    display: none;
  }
}
