@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

.navbar {
  font-family: "Raleway", sans-serif;
}

.card {
  border: none;
  max-width: 570px;
}

.card-body {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  margin: 2rem;
  gap: 3rem;
}

.section1 img {
  max-width: 680px;
  height: 100vh;
}

.quem-somos-texto p {
  max-width: 500px;
}

.quem-somos-texto h1 {
  position: relative;
  bottom: 3rem;
}

.imagem-quem-somos img {
  border-radius: 10px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.section2 {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
  bottom: 10rem;
  height: 600px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links img {
  width: 50px; /* Set the desired width for the icons */
  height: 50px; /* Set the desired height for the icons */
  border: 1px solid #ccc; /* Add a border to the icons */
  border-radius: 50%; /* Make the icons circular */
  transition: transform 0.2s; /* Add a hover effect for scaling */
}

.social-links img:hover {
  transform: scale(1.1); /* Scale the icons slightly on hover */
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

#wave-svg {
  position: relative;
  bottom: 12rem;
  z-index: -1;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .section1 {
    flex-direction: column;
    text-align: justify;
  }

  .section1 img {
    max-width: 100%;
    height: auto;
  }
  .section1 h1 {
    position: relative;
    top: 1px;
  }

  .quem-somos-texto p {
    text-align: start;
  }

  .section1,
  .section2 {
    position: static;
    bottom: 0;
  }

  .section2 p,
  .section2 li {
    font-size: 0.75rem;
    text-align: justify;
  }

  #wave-svg {
    display: none;
  }

  .footer {
    font-size: 0.75rem;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
