@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Raleway:wght@100;200;300;400;500;600&display=swap");

.banner-civil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
}

.banner-civil img {
  max-width: 100%;
  height: auto;
  filter: brightness(0.5);
}

.banner-civil h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
  font-size: 5rem;
}

.navbar {
  font-family: "Raleway", sans-serif;
  z-index: 1;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  margin: 2rem;
  gap: 3rem;
}

.section1 img {
  max-width: 680px;
  height: 100vh;
}

.civil-texto p {
  max-width: 500px;
}

.civil-texto h1 {
  position: relative;
  bottom: 3rem;
}

.imagem-civil2 img {
  border-radius: 10px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.two-columns {
  column-count: 2;
  column-gap: 20px;
}

.atuacao h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.two-columns li {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  list-style-type: square;
}

.atuacao {
  background-color: #ebebeb95;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.links-container {
  display: flex;
  gap: 5rem;
}

.links-container li a {
  text-decoration: none;
  color: #a0a0a0;
}

.links-container li a:hover {
  color: #fff;
}

.footer-contact address {
  color: #a0a0a0;
}

.footer {
  margin-top: 3rem;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
  /* opacity: 0; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .banner-civil h1 {
    display: none;
  }

  .section1 {
    flex-direction: column;
    text-align: justify;
    position: static;
    bottom: 0;
  }

  .section1 img {
    max-width: 100%;
    height: auto;
  }
  .section1 h1 {
    position: relative;
    top: 1px;
  }

  .civil-texto p {
    text-align: start;
  }

  .two-columns li {
    font-size: 14px;
  }

  .two-columns {
    column-count: 1; /* Set the number of columns */
  }

  .footer {
    font-size: 0.75rem;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
